<?xml version="1.0"?>
<config>
  <modules>
    <Magehouse_Slider>
      <version>2.2.0</version>
    </Magehouse_Slider>
  </modules>
  <global>
    <helpers>
      <slider>
        <class>Magehouse_Slider_Helper</class>
      </slider>
    </helpers>
    <blocks>
      <slider>
        <class>Magehouse_Slider_Block</class>
      </slider>
      <catalog>
        <rewrite>
		  <layer_filter_price>Magehouse_Slider_Block_Catalog_Layer_Filter_Price</layer_filter_price>
        </rewrite>
      </catalog>
    </blocks>
    <models>
      <catalog>
        <rewrite>
          <layer>Magehouse_Slider_Model_Catalog_Layer</layer>
        </rewrite>
      </catalog>
	  <catalogsearch>
        <rewrite>
          <layer>Magehouse_Slider_Model_Catalogsearch_Layer</layer>
        </rewrite>
      </catalogsearch>
    </models>
	<resources>
		<slider_setup>
		  <setup>
			<module>Magehouse_Slider</module>
			<class>Magehouse_Slider_Model_Resource_Setup</class>
		  </setup>
		  <connection>
			<use>core_setup</use>
		  </connection>
		</slider_setup>
	 
		<slider_write>
		  <connection>
			<use>core_write</use>
		  </connection>
		</slider_write>
		<slider_read>
		  <connection>
			<use>core_read</use>
		  </connection>
		</slider_read>
	  </resources>
  </global>
  <frontend>
    <layout>
      <updates>
        <slider>
          <file>slider.xml</file>
        </slider>
      </updates>
    </layout>
	<routers>
		<slider>
			<use>standard</use>
			<args>
				<module>Magehouse_Slider</module>
				<frontName>slider</frontName>
			</args>
		</slider>
		<catalog>
			<args>
				<modules>
					<Magehouse_Slider before="Mage_Catalog">Magehouse_Slider_Catalog</Magehouse_Slider>
				</modules>
			</args>
		</catalog>
		<catalogsearch>
			<args>
				<modules>
					<Magehouse_Slider before="Mage_CatalogSearch">Magehouse_Slider_CatalogSearch</Magehouse_Slider>
				</modules>
			</args>
		</catalogsearch>
	</routers>
  </frontend>
  <default>
    <price_slider>
      <price_slider_settings></price_slider_settings>
      <price_slider_conf>
        <handle_color>#333333</handle_color>
        <background_color>#eeeeee</background_color>
        <range_color>#ffbb35</range_color>
		<handle_width>17</handle_width>
		<handle_height>18</handle_height>
		<slider_width>auto</slider_width>
		<slider_height>7</slider_height>
		<textBoxCss>border:solid 1px #ccc; color:#555; padding:3px; width:50px; margin-bottom:10px;</textBoxCss>
      </price_slider_conf>
	  <ajax_conf>
		<overlay_color>#000000</overlay_color>
		<overlay_opacity>0.7</overlay_opacity>
		<loading_text>Fetching Results... Please wait...</loading_text>
		<loading_text_color>#ffffff</loading_text_color>
	  </ajax_conf>
    </price_slider>
  </default>
</config>
